**Esercizi Neo4j**

In [ ]:
!pip install neo4j-driver

Collecting neo4j-driver
  Downloading neo4j-driver-4.4.0.tar.gz (89 kB)
     |████████████████████████████████| 89 kB 3.8 MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from neo4j-driver) (2018.9)
Building wheels for collected packages: neo4j-driver
  Building wheel for neo4j-driver (setup.py) ... done
  Created wheel for neo4j-driver: filename=neo4j_driver-4.4.0-py3-none-any.whl size=114976 sha256=f19bd6b9c1878663453f50cd70bea3b82158e73dde709a6990487f14bdb1a8ee
  Stored in directory: /root/.cache/pip/wheels/5e/89/23/48d22f30bfad0866aac1078fb2e24db1dd3750c46198557ffe
Successfully built neo4j-driver
Installing collected packages: neo4j-driver
Successfully installed neo4j-driver-4.4.0

In [ ]:
from neo4j import GraphDatabase, basic_auth
import pandas as pd
pd.options.display.max_rows = 999

In [ ]:
driver = GraphDatabase.driver("bolt://52.87.238.189:7687", auth=basic_auth("neo4j", "pleasure-thunder-casualties"))

Prendere in considerazione il database Movies e scrivere in un file word le istruzioni Cypher per estrarre le seguenti informazioni:

In [ ]:
# 0. tutto il database
cypher_query = '''
MATCH (a)-[r]-(b) 
RETURN a, r, b
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df.head()

                                                   a  ...                                          b
0  {'tagline': 'Welcome to the Real World', 'titl...  ...      {'name': 'Emil Eifrem', 'born': 1978}
1  {'tagline': 'Welcome to the Real World', 'titl...  ...      {'name': 'Joel Silver', 'born': 1952}
2  {'tagline': 'Welcome to the Real World', 'titl...  ...   {'name': 'Lana Wachowski', 'born': 1965}
3  {'tagline': 'Welcome to the Real World', 'titl...  ...  {'name': 'Lilly Wachowski', 'born': 1967}
4  {'tagline': 'Welcome to the Real World', 'titl...  ...     {'name': 'Hugo Weaving', 'born': 1960}

[5 rows x 3 columns]

In [ ]:
# 1. i film
cypher_query = '''
MATCH (m:Movie) 
RETURN m
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df.head()

                                                   m
0  {'tagline': 'Welcome to the Real World', 'titl...
1  {'tagline': 'Free your mind', 'title': 'The Ma...
2  {'tagline': 'Everything that has a beginning h...
3  {'tagline': 'Evil has its winning ways', 'titl...
4  {'tagline': 'In the heart of the nation's capi...

In [ ]:
# 2. i titoli dei film
cypher_query = '''
MATCH (m:Movie) 
RETURN m.title
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df.head()

                  m.title
0              The Matrix
1     The Matrix Reloaded
2  The Matrix Revolutions
3    The Devil's Advocate
4          A Few Good Men

In [ ]:
# 3. i titoli dei film in ordine alfabetico
cypher_query = '''
MATCH (m:Movie) 
RETURN m.title 
ORDER BY m.title
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

                            m.title
0                    A Few Good Men
1             A League of Their Own
2                         Apollo 13
3                As Good as It Gets
4                  Bicentennial Man
5                         Cast Away
6              Charlie Wilson's War
7                       Cloud Atlas
8                       Frost/Nixon
9                             Hoffa
10                    Jerry Maguire
11           Joe Versus the Volcano
12                  Johnny Mnemonic
13                   Ninja Assassin
14  One Flew Over the Cuckoo's Nest
15                       RescueDawn
16             Sleepless in Seattle
17           Snow Falling on Cedars
18           Something's Gotta Give
19                      Speed Racer
20                      Stand By Me
21                That Thing You Do
22                     The Birdcage
23                The Da Vinci Code
24             The Devil's Advocate
25                   The Green Mile
26                       The Matrix
27              The Matrix Reloaded
28           The Matrix Revolutions
29                The Polar Express
30                 The Replacements
31                          Top Gun
32                          Twister
33                       Unforgiven
34                   V for Vendetta
35             What Dreams May Come
36             When Harry Met Sally
37                  You've Got Mail

In [ ]:
# 4. i titoli dei film dalla Z alla A
cypher_query = '''
MATCH (m:Movie) 
RETURN m.title 
ORDER BY m.title DESC
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

                            m.title
0                   You've Got Mail
1              When Harry Met Sally
2              What Dreams May Come
3                    V for Vendetta
4                        Unforgiven
5                           Twister
6                           Top Gun
7                  The Replacements
8                 The Polar Express
9            The Matrix Revolutions
10              The Matrix Reloaded
11                       The Matrix
12                   The Green Mile
13             The Devil's Advocate
14                The Da Vinci Code
15                     The Birdcage
16                That Thing You Do
17                      Stand By Me
18                      Speed Racer
19           Something's Gotta Give
20           Snow Falling on Cedars
21             Sleepless in Seattle
22                       RescueDawn
23  One Flew Over the Cuckoo's Nest
24                   Ninja Assassin
25                  Johnny Mnemonic
26           Joe Versus the Volcano
27                    Jerry Maguire
28                            Hoffa
29                      Frost/Nixon
30                      Cloud Atlas
31             Charlie Wilson's War
32                        Cast Away
33                 Bicentennial Man
34               As Good as It Gets
35                        Apollo 13
36            A League of Their Own
37                   A Few Good Men

In [ ]:
# 5. il numero di film
cypher_query = '''
MATCH (m:Movie) 
RETURN COUNT(m)
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

   COUNT(m)
0        38

In [ ]:
# 6. i film presentati tra il 1995 e il 2000 (estremi inclusi)
cypher_query = '''
MATCH (m:Movie) 
WHERE m.released >= 1995 AND m.released <= 2000 
RETURN m
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

                                                    m
0   {'tagline': 'The hottest data on earth. In the...
1   {'tagline': 'Houston, we have a problem.', 'ti...
2   {'tagline': 'In every life there comes a time ...
3   {'tagline': 'Come as you are', 'title': 'The B...
4   {'tagline': 'Don't Breathe. Don't Look Back.',...
5   {'tagline': 'Evil has its winning ways', 'titl...
6   {'tagline': 'A comedy from the heart that goes...
7   {'tagline': 'After life there is more. The end...
8   {'tagline': 'At odds in life... in love on-lin...
9   {'tagline': 'Can two friends sleep together an...
10  {'tagline': 'Welcome to the Real World', 'titl...
11  {'tagline': 'First loves last. Forever.', 'tit...
12  {'tagline': 'Walk a mile you'll never forget.'...
13  {'tagline': 'One robot's 200 year journey to b...
14  {'tagline': 'The rest of his life begins now.'...
15  {'tagline': 'Pain heals, Chicks dig scars... G...
16  {'tagline': 'At the edge of the world, his jou...

In [ ]:
# 7. il numero di film presentanti in ogni anno. Chiamare il numero di film "totale". Ordinare sul numero di film in ordine decrescente
cypher_query = '''
MATCH (m:Movie) 
RETURN m.released, COUNT(m) AS totale 
ORDER BY totale DESC
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

    m.released  totale
0         1999       4
1         1992       4
2         2003       3
3         2000       3
4         1998       3
5         1996       3
6         2006       3
7         1997       2
8         1986       2
9         1995       2
10        2008       2
11        1993       1
12        1990       1
13        2012       1
14        2009       1
15        1975       1
16        2007       1
17        2004       1

In [ ]:
# 8. tutte le persone coinvolte nel film "Top Gun"
cypher_query = '''
MATCH (p:Person)-[r]-(m:Movie {title: "Top Gun"}) 
RETURN p.name, type(r)
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

            p.name   type(r)
0         Jim Cash     WROTE
1       Val Kilmer  ACTED_IN
2       Tony Scott  DIRECTED
3         Meg Ryan  ACTED_IN
4     Tom Skerritt  ACTED_IN
5   Kelly McGillis  ACTED_IN
6       Tom Cruise  ACTED_IN
7  Anthony Edwards  ACTED_IN

In [ ]:
# 9. gli attori del film "Top Gun"
cypher_query = '''
MATCH (m:Movie {title: 'Top Gun'})-[a:ACTED_IN]-(p:Person) 
RETURN p.name
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

            p.name
0       Val Kilmer
1         Meg Ryan
2     Tom Skerritt
3   Kelly McGillis
4       Tom Cruise
5  Anthony Edwards

In [ ]:
# 10. i nomi degli attori del film "Top Gun" ordinati in ordine alfabetico
cypher_query = '''
MATCH (m:Movie {title: 'Top Gun'})<-[a:ACTED_IN]-(p:Person) 
RETURN p.name 
ORDER BY p.name
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

            p.name
0  Anthony Edwards
1   Kelly McGillis
2         Meg Ryan
3       Tom Cruise
4     Tom Skerritt
5       Val Kilmer

In [ ]:
# 11. i nomi degli attori del film "Top Gun" ordinati in ordine alfabetico e il ruolo che hanno recitato nel film
cypher_query = '''
MATCH (m:Movie {title: 'Top Gun'})<-[a:ACTED_IN]-(p:Person) 
RETURN p.name, a.roles
ORDER BY p.name
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

            p.name     a.roles
0  Anthony Edwards     [Goose]
1   Kelly McGillis   [Charlie]
2         Meg Ryan    [Carole]
3       Tom Cruise  [Maverick]
4     Tom Skerritt     [Viper]
5       Val Kilmer    [Iceman]

In [ ]:
# 12. il numero di attori del film "Top Gun"
cypher_query = '''
MATCH (m:Movie {title: 'Top Gun'})<-[a:ACTED_IN]-(p:Person) 
RETURN COUNT(p)
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

   COUNT(p)
0         6

In [ ]:
# 13. il regista e l'autore di "Top Gun"
cypher_query = '''
MATCH (m:Movie {title: 'Top Gun'})<-[a:WROTE|DIRECTED]-(p:Person) 
RETURN p.name, type(a)
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

       p.name   type(a)
0    Jim Cash     WROTE
1  Tony Scott  DIRECTED

In [ ]:
# 14. l'elenco dei titoli dei film con i registi e gli attori che vi hanno preso parte
cypher_query = '''
MATCH (m:Movie)<-[a:DIRECTED|ACTED_IN]-(p:Person) 
RETURN m.title, p.name, type(a)
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

                             m.title                  p.name   type(a)
0                         The Matrix             Emil Eifrem  ACTED_IN
1                         The Matrix          Lana Wachowski  DIRECTED
2                         The Matrix         Lilly Wachowski  DIRECTED
3                         The Matrix            Hugo Weaving  ACTED_IN
4                         The Matrix      Laurence Fishburne  ACTED_IN
5                         The Matrix        Carrie-Anne Moss  ACTED_IN
6                         The Matrix            Keanu Reeves  ACTED_IN
7                The Matrix Reloaded          Lana Wachowski  DIRECTED
8                The Matrix Reloaded         Lilly Wachowski  DIRECTED
9                The Matrix Reloaded            Hugo Weaving  ACTED_IN
10               The Matrix Reloaded      Laurence Fishburne  ACTED_IN
11               The Matrix Reloaded        Carrie-Anne Moss  ACTED_IN
12               The Matrix Reloaded            Keanu Reeves  ACTED_IN
13            The Matrix Revolutions          Lana Wachowski  DIRECTED
14            The Matrix Revolutions         Lilly Wachowski  DIRECTED
15            The Matrix Revolutions            Hugo Weaving  ACTED_IN
16            The Matrix Revolutions      Laurence Fishburne  ACTED_IN
17            The Matrix Revolutions        Carrie-Anne Moss  ACTED_IN
18            The Matrix Revolutions            Keanu Reeves  ACTED_IN
19              The Devil's Advocate         Taylor Hackford  DIRECTED
20              The Devil's Advocate               Al Pacino  ACTED_IN
21              The Devil's Advocate         Charlize Theron  ACTED_IN
22              The Devil's Advocate            Keanu Reeves  ACTED_IN
23                    A Few Good Men          James Marshall  ACTED_IN
24                    A Few Good Men            Kevin Pollak  ACTED_IN
25                    A Few Good Men              J.T. Walsh  ACTED_IN
26                    A Few Good Men            Aaron Sorkin  ACTED_IN
27                    A Few Good Men        Cuba Gooding Jr.  ACTED_IN
28                    A Few Good Men       Christopher Guest  ACTED_IN
29                    A Few Good Men              Rob Reiner  DIRECTED
30                    A Few Good Men               Noah Wyle  ACTED_IN
31                    A Few Good Men       Kiefer Sutherland  ACTED_IN
32                    A Few Good Men             Kevin Bacon  ACTED_IN
33                    A Few Good Men              Demi Moore  ACTED_IN
34                    A Few Good Men          Jack Nicholson  ACTED_IN
35                    A Few Good Men              Tom Cruise  ACTED_IN
36                           Top Gun              Val Kilmer  ACTED_IN
37                           Top Gun              Tony Scott  DIRECTED
38                           Top Gun                Meg Ryan  ACTED_IN
39                           Top Gun            Tom Skerritt  ACTED_IN
40                           Top Gun          Kelly McGillis  ACTED_IN
41                           Top Gun              Tom Cruise  ACTED_IN
42                           Top Gun         Anthony Edwards  ACTED_IN
43                     Jerry Maguire         Jerry O'Connell  ACTED_IN
44                     Jerry Maguire             Bonnie Hunt  ACTED_IN
45                     Jerry Maguire           Cameron Crowe  DIRECTED
46                     Jerry Maguire                Jay Mohr  ACTED_IN
47                     Jerry Maguire        Cuba Gooding Jr.  ACTED_IN
48                     Jerry Maguire       Jonathan Lipnicki  ACTED_IN
49                     Jerry Maguire         Renee Zellweger  ACTED_IN
50                     Jerry Maguire           Kelly Preston  ACTED_IN
51                     Jerry Maguire             Regina King  ACTED_IN
52                     Jerry Maguire              Tom Cruise  ACTED_IN
53                       Stand By Me         Jerry O'Connell  ACTED_IN
54                       Stand By Me              Rob Reiner  DIRECTED
55                       Stand By Me           River Phoenix  ACTED_IN
56                       Stand By Me           Marshall Bell  ACTED_IN
57                       Stand By Me             Wil Wheaton  ACTED_IN
58                       Stand By Me       Kiefer Sutherland  ACTED_IN
59                       Stand By Me             John Cusack  ACTED_IN
60                       Stand By Me           Corey Feldman  ACTED_IN
61                As Good as It Gets              Helen Hunt  ACTED_IN
62                As Good as It Gets          Jack Nicholson  ACTED_IN
63                As Good as It Gets        Cuba Gooding Jr.  ACTED_IN
64                As Good as It Gets            Greg Kinnear  ACTED_IN
65                As Good as It Gets         James L. Brooks  DIRECTED
66              What Dreams May Come            Vincent Ward  DIRECTED
67              What Dreams May Come          Robin Williams  ACTED_IN
68              What Dreams May Come        Cuba Gooding Jr.  ACTED_IN
69              What Dreams May Come           Max von Sydow  ACTED_IN
70              What Dreams May Come           Werner Herzog  ACTED_IN
71              What Dreams May Come       Annabella Sciorra  ACTED_IN
72            Snow Falling on Cedars             Ethan Hawke  ACTED_IN
73            Snow Falling on Cedars             Scott Hicks  DIRECTED
74            Snow Falling on Cedars               Rick Yune  ACTED_IN
75            Snow Falling on Cedars           Max von Sydow  ACTED_IN
76            Snow Falling on Cedars          James Cromwell  ACTED_IN
77                   You've Got Mail               Tom Hanks  ACTED_IN
78                   You've Got Mail             Nora Ephron  DIRECTED
79                   You've Got Mail            Parker Posey  ACTED_IN
80                   You've Got Mail            Greg Kinnear  ACTED_IN
81                   You've Got Mail                Meg Ryan  ACTED_IN
82                   You've Got Mail              Steve Zahn  ACTED_IN
83                   You've Got Mail          Dave Chappelle  ACTED_IN
84              Sleepless in Seattle             Nora Ephron  DIRECTED
85              Sleepless in Seattle                Meg Ryan  ACTED_IN
86              Sleepless in Seattle           Victor Garber  ACTED_IN
87              Sleepless in Seattle               Tom Hanks  ACTED_IN
88              Sleepless in Seattle            Bill Pullman  ACTED_IN
89              Sleepless in Seattle             Rita Wilson  ACTED_IN
90              Sleepless in Seattle         Rosie O'Donnell  ACTED_IN
91            Joe Versus the Volcano    John Patrick Stanley  DIRECTED
92            Joe Versus the Volcano               Tom Hanks  ACTED_IN
93            Joe Versus the Volcano             Nathan Lane  ACTED_IN
94            Joe Versus the Volcano                Meg Ryan  ACTED_IN
95              When Harry Met Sally           Carrie Fisher  ACTED_IN
96              When Harry Met Sally           Billy Crystal  ACTED_IN
97              When Harry Met Sally             Bruno Kirby  ACTED_IN
98              When Harry Met Sally                Meg Ryan  ACTED_IN
99              When Harry Met Sally              Rob Reiner  DIRECTED
100                That Thing You Do               Tom Hanks  ACTED_IN
101                That Thing You Do               Liv Tyler  ACTED_IN
102                That Thing You Do         Charlize Theron  ACTED_IN
103                That Thing You Do               Tom Hanks  DIRECTED
104                 The Replacements          Brooke Langton  ACTED_IN
105                 The Replacements            Keanu Reeves  ACTED_IN
106                 The Replacements           Howard Deutch  DIRECTED
107                 The Replacements           Orlando Jones  ACTED_IN
108                 The Replacements            Gene Hackman  ACTED_IN
109                       RescueDawn            Zach Grenier  ACTED_IN
110                       RescueDawn              Steve Zahn  ACTED_IN
111                       RescueDawn           Werner Herzog  DIRECTED
112                       RescueDawn          Christian Bale  ACTED_IN
113                       RescueDawn           Marshall Bell  ACTED_IN
114                     The Birdcage          Robin Williams  ACTED_IN
115                     The Birdcage            Mike Nichols  DIRECTED
116                     The Birdcage             Nathan Lane  ACTED_IN
117                     The Birdcage            Gene Hackman  ACTED_IN
118                       Unforgiven          Clint Eastwood  ACTED_IN
119                       Unforgiven            Gene Hackman  ACTED_IN
120                       Unforgiven          Clint Eastwood  DIRECTED
121                       Unforgiven          Richard Harris  ACTED_IN
122                  Johnny Mnemonic                   Ice-T  ACTED_IN
123                  Johnny Mnemonic              Dina Meyer  ACTED_IN
124                  Johnny Mnemonic            Keanu Reeves  ACTED_IN
125                  Johnny Mnemonic          Takeshi Kitano  ACTED_IN
126                  Johnny Mnemonic            Robert Longo  DIRECTED
127                      Cloud Atlas               Tom Hanks  ACTED_IN
128                      Cloud Atlas           Jim Broadbent  ACTED_IN
129                      Cloud Atlas              Tom Tykwer  DIRECTED
130                      Cloud Atlas          Lana Wachowski  DIRECTED
131                      Cloud Atlas             Halle Berry  ACTED_IN
132                      Cloud Atlas            Hugo Weaving  ACTED_IN
133                      Cloud Atlas         Lilly Wachowski  DIRECTED
134                The Da Vinci Code               Tom Hanks  ACTED_IN
135                The Da Vinci Code              Ron Howard  DIRECTED
136                The Da Vinci Code            Ian McKellen  ACTED_IN
137                The Da Vinci Code           Audrey Tautou  ACTED_IN
138                The Da Vinci Code            Paul Bettany  ACTED_IN
139                   V for Vendetta               John Hurt  ACTED_IN
140                   V for Vendetta             Stephen Rea  ACTED_IN
141                   V for Vendetta         Natalie Portman  ACTED_IN
142                   V for Vendetta            Hugo Weaving  ACTED_IN
143                   V for Vendetta          James Marshall  DIRECTED
144                   V for Vendetta               Ben Miles  ACTED_IN
145                      Speed Racer          Lana Wachowski  DIRECTED
146                      Speed Racer            Emile Hirsch  ACTED_IN
147                      Speed Racer         Lilly Wachowski  DIRECTED
148                      Speed Racer                    Rain  ACTED_IN
149                      Speed Racer         Christina Ricci  ACTED_IN
150                      Speed Racer               Ben Miles  ACTED_IN
151                      Speed Racer          Susan Sarandon  ACTED_IN
152                      Speed Racer            John Goodman  ACTED_IN
153                      Speed Racer             Matthew Fox  ACTED_IN
154                   Ninja Assassin          James Marshall  DIRECTED
155                   Ninja Assassin                    Rain  ACTED_IN
156                   Ninja Assassin               Ben Miles  ACTED_IN
157                   Ninja Assassin               Rick Yune  ACTED_IN
158                   Ninja Assassin           Naomie Harris  ACTED_IN
159                   The Green Mile            Sam Rockwell  ACTED_IN
160                   The Green Mile             Bonnie Hunt  ACTED_IN
161                   The Green Mile       Patricia Clarkson  ACTED_IN
162                   The Green Mile          James Cromwell  ACTED_IN
163                   The Green Mile          Frank Darabont  DIRECTED
164                   The Green Mile               Tom Hanks  ACTED_IN
165                   The Green Mile   Michael Clarke Duncan  ACTED_IN
166                   The Green Mile             David Morse  ACTED_IN
167                   The Green Mile             Gary Sinise  ACTED_IN
168                      Frost/Nixon            Sam Rockwell  ACTED_IN
169                      Frost/Nixon           Michael Sheen  ACTED_IN
170                      Frost/Nixon              Ron Howard  DIRECTED
171                      Frost/Nixon          Frank Langella  ACTED_IN
172                      Frost/Nixon            Oliver Platt  ACTED_IN
173                      Frost/Nixon             Kevin Bacon  ACTED_IN
174                            Hoffa          John C. Reilly  ACTED_IN
175                            Hoffa            Danny DeVito  DIRECTED
176                            Hoffa            Danny DeVito  ACTED_IN
177                            Hoffa              J.T. Walsh  ACTED_IN
178                            Hoffa          Jack Nicholson  ACTED_IN
179                        Apollo 13               Tom Hanks  ACTED_IN
180                        Apollo 13              Ron Howard  DIRECTED
181                        Apollo 13               Ed Harris  ACTED_IN
182                        Apollo 13             Gary Sinise  ACTED_IN
183                        Apollo 13             Kevin Bacon  ACTED_IN
184                        Apollo 13             Bill Paxton  ACTED_IN
185                          Twister             Jan de Bont  DIRECTED
186                          Twister              Helen Hunt  ACTED_IN
187                          Twister             Bill Paxton  ACTED_IN
188                          Twister  Philip Seymour Hoffman  ACTED_IN
189                          Twister            Zach Grenier  ACTED_IN
190                        Cast Away              Helen Hunt  ACTED_IN
191                        Cast Away               Tom Hanks  ACTED_IN
192                        Cast Away         Robert Zemeckis  DIRECTED
193  One Flew Over the Cuckoo's Nest            Danny DeVito  ACTED_IN
194  One Flew Over the Cuckoo's Nest          Jack Nicholson  ACTED_IN
195  One Flew Over the Cuckoo's Nest            Milos Forman  DIRECTED
196           Something's Gotta Give            Keanu Reeves  ACTED_IN
197           Something's Gotta Give            Nancy Meyers  DIRECTED
198           Something's Gotta Give            Diane Keaton  ACTED_IN
199           Something's Gotta Give          Jack Nicholson  ACTED_IN
200                 Bicentennial Man          Robin Williams  ACTED_IN
201                 Bicentennial Man            Oliver Platt  ACTED_IN
202                 Bicentennial Man          Chris Columbus  DIRECTED
203             Charlie Wilson's War           Julia Roberts  ACTED_IN
204             Charlie Wilson's War            Mike Nichols  DIRECTED
205             Charlie Wilson's War               Tom Hanks  ACTED_IN
206             Charlie Wilson's War  Philip Seymour Hoffman  ACTED_IN
207                The Polar Express               Tom Hanks  ACTED_IN
208                The Polar Express         Robert Zemeckis  DIRECTED
209            A League of Their Own               Tom Hanks  ACTED_IN
210            A League of Their Own                 Madonna  ACTED_IN
211            A League of Their Own          Penny Marshall  DIRECTED
212            A League of Their Own         Rosie O'Donnell  ACTED_IN
213            A League of Their Own             Geena Davis  ACTED_IN
214            A League of Their Own             Bill Paxton  ACTED_IN
215            A League of Their Own              Lori Petty  ACTED_IN

In [ ]:
# 15. i film in cui ha recitato Tom Cruise e i rispettivi registi
cypher_query = '''
MATCH (tom:Person {name: "Tom Cruise"})-[:ACTED_IN]->(m:Movie)<-[:DIRECTED]-(p:Person) 
RETURN m.title, p.name
'''

with driver.session() as graphDB_Session:
    result = graphDB_Session.run(cypher_query).data()
df = pd.DataFrame(result)
df

          m.title         p.name
0   Jerry Maguire  Cameron Crowe
1         Top Gun     Tony Scott
2  A Few Good Men     Rob Reiner